body{  
height: 100vh;
    display: flex;
    width: 100vh;
justify-content: center;
align-items: center;
    background: #C6FFDD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}.container{
    height: 100vh;
    display: flex;
    width: 100vh;
    justify-content: center;
    align-items: center;
}
form{
    width: 400px;
    height: 400px;
    border: 2px solid #809092;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
background-color:#809092;
font-size: 20px;
font-weight: 900;
text-transform: capitalize;
border-radius: 8px ;
/* cursor: pointer; */
    flex-direction: column;
}
input{
    width:100%;
    background-color: transparent;
    border: none;
display:flex;
justify-content: center;
text-align: center;
justify-items: center;
    border-bottom: 2px solid red;
}
#Submit{
    height: 30px;
    font-size: 22px;
    border-radius: 8px;
    border: none;
    background-color: green;
}
.btn{
    /* height:100vh; */
    display:flex;
    margin: auto;
justify-content: center;
text-align: center;
justify-items: center;
width: 100vh;
/* height: 100vh; */
}
#beforelogin{
    /* width: 200px;
    height: 100px; */
    font-size: 34px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    transition: .5s;
    color: #fff;
    cursor: pointer;

    border-radius: 9px;
    box-shadow: 0px 0px 9px 0px;
}
#beforelogin:hover{
    transform: scale(1.4);
    transition: .5s;
}